@mixin card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  padding: 20px;
}
.main-container {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: flex-start;

  &__form-container {
    flex: 1;
    @include card;
  }

  &__results {
    @include card;
    flex: 1;
  }
  mat-form-field, mat-checkbox {
    display: block;
  }

  .actions {
    &__cancel-btn {
      margin-right: 10px;
    }
  }
}
