<pre>
  Here we have a list of employees, each employee has a name, a position, and a salary.

  Each employee has a link that is currently not functioning. Your task is to repair this link so
  that clicking on it displays the details of the selected employee on the right side.

  Optional: sort the list of employees salary in ascending order.

  - Note: the employee details component already exists. Don't forget to give it a look before
  you start crafting the solution.
</pre>
<div class="container">
  <div class="mat-elevation-z1 container__list">
    <h2>Employee list</h2>
    <app-employee-list [employees]="(employees$ | async) ?? []"></app-employee-list>
  </div>
  <div class="container__details">
    <h2>Employee details</h2>
    <!--  TODO: In here we should see the employee details -->
    <router-outlet></router-outlet>
  </div>
</div>